.popup-content {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    background-color: #282c34;
}
.App {
    min-width: 300px;
    min-height: 300px;
    display: flex;
    background-color: #282c34;
    padding: 10px;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note {
    font-size: 15px;
}
