.deps {
    display: flex;
    gap: 3px;
}

.stacks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dep-link {
    color: #656d76;
    /* color: black; */
    display: flex;
}

.dep-link:hover {
    color: #1f6fe5;
    text-decoration: none;
}

.dep-name {
    margin-top: auto;
    margin-bottom: auto;
}

.dep-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 2px;
}

.techStackRoot {
    padding-top: 8px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-border-muted);
}

@keyframes jump {
    0% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
    40% {
        transform: translate3d(0, 30%, 0) scale3d(0.7, 2, 1);
    }
    100% {
        transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
    }
}
.jump {
    transform-origin: 50% 50%;
    animation: jump 2s linear alternate infinite;
}
