.techstack-deps {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.techstack-category-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dep-link {
  color: #656d76;
  /* color: black; */
  display: flex;
}

.dep-link:hover {
  color: #1f6fe5;
  text-decoration: none;
}

.dep-name {
  margin-top: auto;
  margin-bottom: auto;
}

.dep-icon {
  width: 18px;
  height: 18px;
  object-fit: cover;
  margin-right: 5px;
  margin-top: 2px;
}

.techStackRoot {
  padding-top: 8px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-border-muted);

  position: relative;
}

.techstack-collapsed-container {
  position: absolute;
  /* display: flex; */
  bottom: 0px;
  /* top: 100px; */
  /* background: linear-gradient(top, rgba(0, 0, 0, 0.1), white); */
  background: linear-gradient(var(--color-project-gradient-out), var(--color-project-sidebar-bg));
  width: 100%;
  height: 30px;

  /* justify-content: space-between;
  align-items: center; */
}

.techstack-open {
  width: 100%;
  text-align: center;
  color: #656d76;

  /* margin: auto; */
  cursor: pointer;
}

@keyframes jump-animation {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(0.7, 2, 1);
  }
  100% {
    transform: translate3d(0, 100%, 0) scale3d(1.5, 0.7, 1);
  }
}
.tech-stack-jump-animation {
  transform-origin: 50% 50%;
  animation: jump-animation 2s linear alternate infinite;
}

.tech-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
  background-color: var(--color-bg-footer);
  color: var(--color-text-muted);
  font-size: 14px;
  text-align: center;
}
.tech-feedback {
  display: flex;
  gap: 5px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.tech-footer-feedback {
  margin: auto;
}
